@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: #0a0a0a;
			--foreground: #ededed;
		}
	}

	html,
	body {
		max-width: 100vw;
		overflow-x: hidden;
	}

	body {
		background-color: var(--background);
		color: var(--foreground);
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

@layer utilities {
	.img-dark {
		display: none;
	}

	@media (prefers-color-scheme: light) {
		.img-light {
			display: none;
		}

		.img-dark {
			display: unset;
		}
	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;

	--background: #fbfbfe;
	--foreground: #050316;

	--card: #fbfbfe;
	--card-foreground: #050316;

	--popover: #fbfbfe;
	--popover-foreground: #050316;

	--primary: #2f27ce;
	--primary-foreground: #fbfbfe;

	--secondary: #dddbff;
	--secondary-foreground: #050316;

	--accent: #443dff;
	--accent-foreground: #fbfbfe;

	--muted: #dddbff;
	--muted-foreground: #050316;

	--destructive: #dc2626;

	--border: #e5e7eb;
	--input: #e5e7eb;
	--ring: #2f27ce;

	--chart-1: #2f27ce;
	--chart-2: #443dff;
	--chart-3: #dddbff;
	--chart-4: #a5b4fc;
	--chart-5: #6366f1;

	--sidebar: #fbfbfe;
	--sidebar-foreground: #050316;
	--sidebar-primary: #2f27ce;
	--sidebar-primary-foreground: #fbfbfe;
	--sidebar-accent: #dddbff;
	--sidebar-accent-foreground: #050316;
	--sidebar-border: #e5e7eb;
	--sidebar-ring: #2f27ce;
}


.dark {
	--background: #050316;
	--foreground: #fbfbfe;

	--card: #0b0820;
	--card-foreground: #fbfbfe;

	--popover: #0b0820;
	--popover-foreground: #fbfbfe;

	--primary: #443dff;
	--primary-foreground: #fbfbfe;

	--secondary: #2f27ce;
	--secondary-foreground: #fbfbfe;

	--accent: #443dff;
	--accent-foreground: #fbfbfe;

	--muted: #1b173f;
	--muted-foreground: #dddbff;

	--border: #2a255e;
	--input: #2a255e;
	--ring: #443dff;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}